:root {
    --primaryColor: #495e57;
    --primaryYellow: #f4ce14;
    --primaryPeach: #ee9972;
    --primaryPeachLight: #fbdabb;

    --light: #edefee;
    --dark: #333333;
}

/* .karla-<uniquifier> {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
 .markazi-text-<uniquifier> {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

body {
    font-family: 'Karla', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Markazi Text', serif;
    font-optical-sizing: auto;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
}

p {
    line-height: 1.5;
}
.container {
    margin: 0 auto;
    max-width: 1400px;
}

.mainNavigation .container,
footer .container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.mainNavigation ul,
footer ul {
    list-style: none;
    padding: 0;
}

.mainNavigation ul {
    display: flex;
    gap: 20px;
}

.mainNavigation a,
footer a {
    text-decoration: none;
    color: var(--primaryColor);
}

.mainNavigation a {
    font-weight: 600;
    transition: color 300ms ease-out;
}

.mainNavigation a:hover {
    color: var(--dark);
}
/* header */

header.home {
    color: var(--light);
    background-color: var(--primaryColor);
    padding: 4rem 1rem;
}

header.home .container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

header.home h1 {
    color: var(--primaryYellow);
    font-size: 5rem;
    margin: 0;
    line-height: 0.5;
}

header.home h2 {
    margin: 0;
    font-size: 2.5rem;
}

header.home a,
.weeklySpecialItems article a {
    display: inline-block;
    font-size: 1.1rem;
    text-decoration: none;
    background-color: var(--primaryYellow);
    color: var(--dark);
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-radius: 16px;
    margin-top: 2rem;
    transition: all 300ms ease-out;
}

header.home a:hover,
.weeklySpecialItems article a:hover {
    background-color: var(--primaryPeach);
}

header.home .image-container {
    position: relative;
    min-width: 50%;
}

header.home img {
    max-height: calc(100% + 4rem + 3rem);
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    aspect-ratio: 16/12;
    object-fit: cover;
}

/* weekly specials */
.weeklySpecials {
    padding: 5rem;
}

.weeklySpecials h1,
.customerReviews h1,
.aboutUs h1 {
    font-size: 3rem;
}

.weeklySpecialItems {
    display: flex;
    gap: 3rem;
}

.weeklySpecialItems article {
    flex-basis: 100%;
    border-radius: 16px;
    overflow: hidden;
    background-color: var(--light);
}

.weeklySpecialItems article .content {
    padding: 0 2rem 1.5rem 2rem;
}

.weeklySpecialItems article img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.weeklySpecialItems article h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.weeklySpecialItems article a {
    background-color: var(--primaryYellow);
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
}

/* reviews */

.customerReviews {
    padding: 5rem;
}

.customerReviews h1 {
    text-align: center;
}

.allReviews {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.review {
    border: 1px solid hsla(160, 13%, 33%, 0.2);
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
}

.review .header {
    display: flex;
    gap: 10px;
}

.review img {
    border-radius: 100%;
    aspect-ratio: 1;
    width: 50px;
    height: 50px;
}

.review .header h5 {
    font-size: 1.5rem;
    margin: 0;
}

.review .ratingWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review .date {
    opacity: 0.5;
    font-size: 12px;
}

/* about us */

.aboutUs {
    background-color: var(--primaryPeachLight);
    padding: 5rem;
}

.aboutUs .container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.aboutUs h1 {
    margin-bottom: 0;
}

.aboutUs img {
    max-height: 30vh;
    border-radius: 1rem;
    object-fit: cover;
    object-position: top;
}

/* footer */
footer ul li {
    margin-bottom: 10px;
}

footer ul li:last-child {
    margin-bottom: 0;
}

footer {
    color: white;
    background-color: var(--primaryColor);
}

footer a {
    color: white;
}

footer a:hover {
    color: var(--primaryYellow);
}

footer img {
    width: 150px;
    height: 100%;
}

@media screen and (max-width: 575.98px) {
}

@media screen and (max-width: 767.98px) {
}

@media screen and (max-width: 991.98px) {
    .mainNavigation .container,
    footer .container {
        flex-direction: column;
    }

    header.home .container {
        flex-direction: column;
    }

    header.home img {
        position: static;
        max-height: 500px;
        margin: 0 auto;
        display: block;
        transform: translateX(0%);
    }

    .weeklySpecials,
    .aboutUs {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .allReviews {
        flex-wrap: wrap;
    }

    .review {
        max-width: 100%;
    }

    .aboutUs .container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1199.98px) {
}

@media only screen and (max-width: 1399.98px) {
    .container {
        max-width: 991px;
    }

    .weeklySpecialItems {
        flex-direction: column;
    }

    .review .ratingWrapper {
        flex-direction: column;
        gap: 1px;
        align-items: flex-start;
    }
}
